[submodule "Java/AddXmpTagsToDicomImage"]
	path = "Java/AddXmpTagsToDicomImage"
	url = "https://gist.github.com/9976b96470633bff33542ae9f42431f9"
[submodule "Java/Adjust"]
	path = "Java/Adjust"
	url = "https://gist.github.com/822bcdd56fb7d62b05d9d0ad94cfba29"
[submodule "Java/Binarize"]
	path = "Java/Binarize"
	url = "https://gist.github.com/daac19b481878f17e5e6caadd16bb490"
[submodule "Java/Cartoonify"]
	path = "Java/Cartoonify"
	url = "https://gist.github.com/e8d356ec157169159aba5650730a227f"
[submodule "Java/Compress"]
	path = "Java/Compress"
	url = "https://gist.github.com/524c3e3c3146a0eb00a23600f3990cff"
[submodule "Java/Conversion/apng"]
	path = "Java/Conversion/apng"
	url = "https://gist.github.com/07bd18a1af2633c99a708341d84b5ad2"
[submodule "Java/Conversion/bmp"]
	path = "Java/Conversion/bmp"
	url = "https://gist.github.com/b5f2fbf9e4a8a5aa6094ef695a2f7e2a"
[submodule "Java/Conversion/cdr"]
	path = "Java/Conversion/cdr"
	url = "https://gist.github.com/258265e12d6571958acf2caddae154eb"
[submodule "Java/Conversion/cmx"]
	path = "Java/Conversion/cmx"
	url = "https://gist.github.com/7ef920c4cc048a875bd2453ab1195d0e"
[submodule "Java/Conversion/dib"]
	path = "Java/Conversion/dib"
	url = "https://gist.github.com/d8e57e37eefca8b37a77109c1b40631b"
[submodule "Java/Conversion/dicom"]
	path = "Java/Conversion/dicom"
	url = "https://gist.github.com/25eac852f2514877f6fbde811a0d0ece"
[submodule "Java/Conversion/djvu"]
	path = "Java/Conversion/djvu"
	url = "https://gist.github.com/5a1855c9d83d9186b0f015c1709e5c4c"
[submodule "Java/Conversion/dng"]
	path = "Java/Conversion/dng"
	url = "https://gist.github.com/c98162de21b2c201e4eaabb5180ddb62"
[submodule "Java/Conversion/emf"]
	path = "Java/Conversion/emf"
	url = "https://gist.github.com/7573984073baac0442285e30eec8474a"
[submodule "Java/Conversion/emz"]
	path = "Java/Conversion/emz"
	url = "https://gist.github.com/fa7aea6cdf57cdfb057b80a344c3ea2c"
[submodule "Java/Conversion/eps"]
	path = "Java/Conversion/eps"
	url = "https://gist.github.com/70a96dd3cc00978644766472a85df2a5"
[submodule "Java/Conversion/gif"]
	path = "Java/Conversion/gif"
	url = "https://gist.github.com/5c0b1ad0efc459734a6d44da8a897a80"
[submodule "Java/Conversion/j2k"]
	path = "Java/Conversion/j2k"
	url = "https://gist.github.com/ceaefc1656df207ad91467516e63f287"
[submodule "Java/Conversion/jp2"]
	path = "Java/Conversion/jp2"
	url = "https://gist.github.com/2393ca3d869b79afc41da64fad558168"
[submodule "Java/Conversion/jpeg2000"]
	path = "Java/Conversion/jpeg2000"
	url = "https://gist.github.com/6351dfd0d434bb9daea391815ede714a"
[submodule "Java/Conversion/jpg"]
	path = "Java/Conversion/jpg"
	url = "https://gist.github.com/4779d9b203731791a09f13570d6dbaef"
[submodule "Java/Conversion/odg"]
	path = "Java/Conversion/odg"
	url = "https://gist.github.com/c3da84df2c05d47d107da8b9c31f2cf0"
[submodule "Java/Conversion/otg"]
	path = "Java/Conversion/otg"
	url = "https://gist.github.com/d3a4aa97e7fb26506ce4d123c6c3cf29"
[submodule "Java/Conversion/png"]
	path = "Java/Conversion/png"
	url = "https://gist.github.com/a3e9a29e02d684daee703a614963c1d6"
[submodule "Java/Conversion/svg"]
	path = "Java/Conversion/svg"
	url = "https://gist.github.com/da84aef5e873f7e0e2f77889a3228dd5"
[submodule "Java/Conversion/svgz"]
	path = "Java/Conversion/svgz"
	url = "https://gist.github.com/3bb6a51406052d1b4ca609b497469b68"
[submodule "Java/Conversion/tga"]
	path = "Java/Conversion/tga"
	url = "https://gist.github.com/4348ea20efe85236fb631ec9a4fcb1d6"
[submodule "Java/Conversion/tiff"]
	path = "Java/Conversion/tiff"
	url = "https://gist.github.com/3d47ffb21a520c5ff9be971b72b0a9b9"
[submodule "Java/Conversion/webp"]
	path = "Java/Conversion/webp"
	url = "https://gist.github.com/b5ae14ac978fa1304901a8c7f49b5137"
[submodule "Java/Conversion/wmf"]
	path = "Java/Conversion/wmf"
	url = "https://gist.github.com/b47fe38ff3b1ec670e1452cbd327b627"
[submodule "Java/Conversion/wmz"]
	path = "Java/Conversion/wmz"
	url = "https://gist.github.com/76d27d5023ad437bb805109869e11cc2"
[submodule "Java/Convert"]
	path = "Java/Convert"
	url = "https://gist.github.com/74b9cf26c193cd103f69194c2bbe0984"
[submodule "Java/CROP"]
	path = "Java/CROP"
	url = "https://gist.github.com/c35e6fbf62572d57fc2022ccc8ba0253"
[submodule "Java/CustomFonts"]
	path = "Java/CustomFonts"
	url = "https://gist.github.com/dc068b12ee9331d520949a552abc3e47"
[submodule "Java/Dithering"]
	path = "Java/Dithering"
	url = "https://gist.github.com/5ddad8955ae51330e7a032a3d3b55c28"
[submodule "Java/ExtractRasterImagesEmbeddedInVector"]
	path = "Java/ExtractRasterImagesEmbeddedInVector"
	url = "https://gist.github.com/437789a8ec8c6604aafe2cad2fe88900"
[submodule "Java/Filters"]
	path = "Java/Filters"
	url = "https://gist.github.com/62fbf25d357f9630abcc20d79d5947b2"
[submodule "Java/GetTiffOriginalOptions"]
	path = "Java/GetTiffOriginalOptions"
	url = "https://gist.github.com/4be990d0858a585f1b25f143573d5d20"
[submodule "Java/Grayscale"]
	path = "Java/Grayscale"
	url = "https://gist.github.com/106a444035bb986e4e29211350868cbc"
[submodule "Java/HowTo/convert-vector-image-to-vectorized-psd-image"]
	path = "Java/HowTo/convert-vector-image-to-vectorized-psd-image"
	url = "https://gist.github.com/834536b8a95a928def76be1e123b71db"
[submodule "Java/HowTo/draw-text-using-graphics"]
	path = "Java/HowTo/draw-text-using-graphics"
	url = "https://gist.github.com/c8d164b9aaf58702d431710fe0181ced"
[submodule "Java/HowTo/look-like-scanned"]
	path = "Java/HowTo/look-like-scanned"
	url = "https://gist.github.com/ade5faeabffd1fe6d4b6bab53850897d"
[submodule "Java/HowTo/save-transparent-image"]
	path = "Java/HowTo/save-transparent-image"
	url = "https://gist.github.com/2ce396b4f1417ab0463e18f51cc6e63d"
[submodule "Java/HowTo/wmf-text-to-png"]
	path = "Java/HowTo/wmf-text-to-png"
	url = "https://gist.github.com/297d9b641b096caa0706ce08da014dae"
[submodule "Java/Intro"]
	path = "Java/Intro"
	url = "https://gist.github.com/31dbd78f64c3a37b9a8ab10d33885214"
[submodule "Java/Licensing"]
	path = "Java/Licensing"
	url = "https://gist.github.com/9656a0a7eedb4b07ab8a2922e161f63d"
[submodule "Java/Merge"]
	path = "Java/Merge"
	url = "https://gist.github.com/d8c86be526ab92ccc5eaafd1eaa1320b"
[submodule "Java/RemoveBackground"]
	path = "Java/RemoveBackground"
	url = "https://gist.github.com/26a3ef7a80fab1d53054422a388087a2"
[submodule "Java/Resize"]
	path = "Java/Resize"
	url = "https://gist.github.com/c23856d7fdf11ecc5bcf73a03ad0a44d"
[submodule "Java/SaveFileExtensionAware"]
	path = "Java/SaveFileExtensionAware"
	url = "https://gist.github.com/39471f525d4b5ea8567ac5bb7bbc8457"
[submodule "Java/Watermark"]
	path = "Java/Watermark"
	url = "https://gist.github.com/1ac443cce5aab9d32ad152570c716c05"
[submodule "Net/AddXmpTagsToDicomImage"]
	path = "Net/AddXmpTagsToDicomImage"
	url = "https://gist.github.com/5c1ecbaf9a07481abfb732ea6c41ae0f"
[submodule "Net/Adjust"]
	path = "Net/Adjust"
	url = "https://gist.github.com/e0edfb82b59e3dfa4cbb620a45150480"
[submodule "Net/Binarize"]
	path = "Net/Binarize"
	url = "https://gist.github.com/71c0516ed0eaff60994a716cfb062a6a"
[submodule "Net/Cartoonify"]
	path = "Net/Cartoonify"
	url = "https://gist.github.com/06ef86978a9c043ccf04b5c6fd292b4c"
[submodule "Net/Compress"]
	path = "Net/Compress"
	url = "https://gist.github.com/1960f3cda06637ac4f750163b5fcbfdc"
[submodule "Net/Conversion/apng"]
	path = "Net/Conversion/apng"
	url = "https://gist.github.com/e6756e10d2c1e793c74b42a091958ece"
[submodule "Net/Conversion/bmp"]
	path = "Net/Conversion/bmp"
	url = "https://gist.github.com/6ec855304907234b26961df70f13afb0"
[submodule "Net/Conversion/cdr"]
	path = "Net/Conversion/cdr"
	url = "https://gist.github.com/8b870aa054949d3119547e4fc0696b64"
[submodule "Net/Conversion/cmx"]
	path = "Net/Conversion/cmx"
	url = "https://gist.github.com/71185958cb05d74f34ef9960f8dda4dd"
[submodule "Net/Conversion/dib"]
	path = "Net/Conversion/dib"
	url = "https://gist.github.com/c105a05d95529e2551aa29cd9dc8d8e8"
[submodule "Net/Conversion/dicom"]
	path = "Net/Conversion/dicom"
	url = "https://gist.github.com/d2556ab69aeedafc6cf8c7c569c46075"
[submodule "Net/Conversion/djvu"]
	path = "Net/Conversion/djvu"
	url = "https://gist.github.com/7cd7d94813fb73fe141054272437f6ae"
[submodule "Net/Conversion/dng"]
	path = "Net/Conversion/dng"
	url = "https://gist.github.com/61a66808ddf0e2e9ba60c4e6e8c576c2"
[submodule "Net/Conversion/emf"]
	path = "Net/Conversion/emf"
	url = "https://gist.github.com/6886c18d67fa6c7970d9cf260b077988"
[submodule "Net/Conversion/emz"]
	path = "Net/Conversion/emz"
	url = "https://gist.github.com/339fb6f6f36b878e48c3cf057f895589"
[submodule "Net/Conversion/eps"]
	path = "Net/Conversion/eps"
	url = "https://gist.github.com/7accc5c9da8ca6e7ba395aa038174d5e"
[submodule "Net/Conversion/gif"]
	path = "Net/Conversion/gif"
	url = "https://gist.github.com/0dfac1d679fe6125d696d1a66d991346"
[submodule "Net/Conversion/jpeg2000"]
	path = "Net/Conversion/jpeg2000"
	url = "https://gist.github.com/fd6e093454ec07a78c6573ee70c51a2c"
[submodule "Net/Conversion/jpg"]
	path = "Net/Conversion/jpg"
	url = "https://gist.github.com/5df13c606b80d0d08b0f19fac967995c"
[submodule "Net/Conversion/odg"]
	path = "Net/Conversion/odg"
	url = "https://gist.github.com/9cb710068cd36fa27e64a3e2c8dece30"
[submodule "Net/Conversion/otg"]
	path = "Net/Conversion/otg"
	url = "https://gist.github.com/591ab204772afbc5e31c9168fbe0284c"
[submodule "Net/Conversion/png"]
	path = "Net/Conversion/png"
	url = "https://gist.github.com/6013edc0c1b050c2c0bc2e34da7f3263"
[submodule "Net/Conversion/svg"]
	path = "Net/Conversion/svg"
	url = "https://gist.github.com/0d1b88d7ec3f1fc9af01ac8a836869a1"
[submodule "Net/Conversion/svgz"]
	path = "Net/Conversion/svgz"
	url = "https://gist.github.com/ae12c4da49ebc08ae79f7e9fc2839bbb"
[submodule "Net/Conversion/tga"]
	path = "Net/Conversion/tga"
	url = "https://gist.github.com/7ea8d36893e41a713493a85f89a7bbc7"
[submodule "Net/Conversion/tiff"]
	path = "Net/Conversion/tiff"
	url = "https://gist.github.com/a0918ab26b50f4aaa25213f37eb2e95b"
[submodule "Net/Conversion/webp"]
	path = "Net/Conversion/webp"
	url = "https://gist.github.com/693590fa27d4fe2d795cc7fbcf5cbd64"
[submodule "Net/Conversion/wmf"]
	path = "Net/Conversion/wmf"
	url = "https://gist.github.com/1bf18dd9bd143c0f8c4f8c47e2b51978"
[submodule "Net/Conversion/wmz"]
	path = "Net/Conversion/wmz"
	url = "https://gist.github.com/69c0f75a96aeef906238823f6e345845"
[submodule "Net/Convert"]
	path = "Net/Convert"
	url = "https://gist.github.com/4f45746500932351190aa24726cc4544"
[submodule "Net/CROP"]
	path = "Net/CROP"
	url = "https://gist.github.com/542ef8811ecf66dac9f7830226671e37"
[submodule "Net/CustomFonts"]
	path = "Net/CustomFonts"
	url = "https://gist.github.com/de57973337b89375382bf6c74106c220"
[submodule "Net/Dithering"]
	path = "Net/Dithering"
	url = "https://gist.github.com/95e4108a2bc8cf2db6673c1225d3123a"
[submodule "Net/ExtractRasterImagesEmbeddedInVector"]
	path = "Net/ExtractRasterImagesEmbeddedInVector"
	url = "https://gist.github.com/fdab3ef875b150a2c3b8f4275ad6eb00"
[submodule "Net/Filters"]
	path = "Net/Filters"
	url = "https://gist.github.com/a1e5930122ddaf08d6960cb18782d55f"
[submodule "Net/GetTiffOriginalOptions"]
	path = "Net/GetTiffOriginalOptions"
	url = "https://gist.github.com/2bb8d93135a90199b0eea4a5374d1ab2"
[submodule "Net/Grayscale"]
	path = "Net/Grayscale"
	url = "https://gist.github.com/678e6251f851a355d0d61d0807168d62"
[submodule "Net/HowTo/convert-vector-image-to-vectorized-psd-image"]
	path = "Net/HowTo/convert-vector-image-to-vectorized-psd-image"
	url = "https://gist.github.com/cb4bb97be7e1e12032817041f572ddf3"
[submodule "Net/HowTo/draw-text-using-graphics"]
	path = "Net/HowTo/draw-text-using-graphics"
	url = "https://gist.github.com/34906966ea6a4a690c27e3ae30802928"
[submodule "Net/HowTo/look-like-scanned"]
	path = "Net/HowTo/look-like-scanned"
	url = "https://gist.github.com/a9a9e3d71675a0559d3f0c64a468026d"
[submodule "Net/HowTo/save-transparent-image"]
	path = "Net/HowTo/save-transparent-image"
	url = "https://gist.github.com/36c4ea3618e1a05a473bb513030fac6e"
[submodule "Net/HowTo/wmf-text-to-png"]
	path = "Net/HowTo/wmf-text-to-png"
	url = "https://gist.github.com/f000a778d6a34a61caa392e1804d1ff8"
[submodule "Net/Intro"]
	path = "Net/Intro"
	url = "https://gist.github.com/38d4932ed13a06d560174ea9a85ea4cf"
[submodule "Net/Licensing"]
	path = "Net/Licensing"
	url = "https://gist.github.com/0881be76ce67d68226308289da9b657c"
[submodule "Net/Manipulate Different Image FileFormats/Manipulate Bmp Images"]
	path = "Net/Manipulate Different Image FileFormats/Manipulate Bmp Images"
	url = "https://gist.github.com/77eea2fa6129b23d80c4c0de9f13f2f6"
[submodule "Net/Manipulate Different Image FileFormats/Manipulate Cdr Images"]
	path = "Net/Manipulate Different Image FileFormats/Manipulate Cdr Images"
	url = "https://gist.github.com/7241329931138890d4634d5cd9900e62"
[submodule "Net/Manipulate Different Image FileFormats/Manipulate Cmx Images"]
	path = "Net/Manipulate Different Image FileFormats/Manipulate Cmx Images"
	url = "https://gist.github.com/cd76b7203ae8c34ff5b9bdce04ecad19"
[submodule "Net/Manipulate Different Image FileFormats/Manipulate Dicom Images"]
	path = "Net/Manipulate Different Image FileFormats/Manipulate Dicom Images"
	url = "https://gist.github.com/3c2dfa23b8e1299cf8d56744e2168bae"
[submodule "Net/Manipulate Different Image FileFormats/Manipulate Djvu Images"]
	path = "Net/Manipulate Different Image FileFormats/Manipulate Djvu Images"
	url = "https://gist.github.com/21cfa88ecb1e731ff1fb4c0049d2cc39"
[submodule "Net/Manipulate Different Image FileFormats/Manipulate Dng Images"]
	path = "Net/Manipulate Different Image FileFormats/Manipulate Dng Images"
	url = "https://gist.github.com/fd8a5e092c30aea38bea624b1adab64a"
[submodule "Net/Manipulate Different Image FileFormats/Manipulate Dxf Images"]
	path = "Net/Manipulate Different Image FileFormats/Manipulate Dxf Images"
	url = "https://gist.github.com/a9fd4a3333900f4f86ea1667814ff421"
[submodule "Net/Manipulate Different Image FileFormats/Manipulate Emf Images"]
	path = "Net/Manipulate Different Image FileFormats/Manipulate Emf Images"
	url = "https://gist.github.com/901e9cb1e784cc1cdc3d9550a1e74136"
[submodule "Net/Manipulate Different Image FileFormats/Manipulate Fodg Images"]
	path = "Net/Manipulate Different Image FileFormats/Manipulate Fodg Images"
	url = "https://gist.github.com/d865fbe09f37c7898c25ef43acbd2190"
[submodule "Net/Manipulate Different Image FileFormats/Manipulate Gif Images"]
	path = "Net/Manipulate Different Image FileFormats/Manipulate Gif Images"
	url = "https://gist.github.com/54045f2fd5dce532d3571cf3924a9c0e"
[submodule "Net/Manipulate Different Image FileFormats/Manipulate Png Images"]
	path = "Net/Manipulate Different Image FileFormats/Manipulate Png Images"
	url = "https://gist.github.com/0dc6787183a1823ca0774be84c7b7aa2"
[submodule "Net/Manipulate Different Image FileFormats/Manipulate Psd Images"]
	path = "Net/Manipulate Different Image FileFormats/Manipulate Psd Images"
	url = "https://gist.github.com/a49470a82e1fb121565a2ea96c0cfc9d"
[submodule "Net/Manipulate Different Image FileFormats/Manipulate Svg Images"]
	path = "Net/Manipulate Different Image FileFormats/Manipulate Svg Images"
	url = "https://gist.github.com/af7872e5b2559e537d3bf085a6d15547"
[submodule "Net/Manipulate Different Image FileFormats/Manipulate Tga Images"]
	path = "Net/Manipulate Different Image FileFormats/Manipulate Tga Images"
	url = "https://gist.github.com/d26dd3b9335d3a795ddfed8e8a2c4eb0"
[submodule "Net/Manipulate Different Image FileFormats/Manipulate Tiff Images"]
	path = "Net/Manipulate Different Image FileFormats/Manipulate Tiff Images"
	url = "https://gist.github.com/3fd62316b7516c54cdec5700f6785166"
[submodule "Net/Manipulate Different Image FileFormats/Manipulate Webp Images"]
	path = "Net/Manipulate Different Image FileFormats/Manipulate Webp Images"
	url = "https://gist.github.com/9dfc4228a06ca7c41eb79817dd3cad6c"
[submodule "Net/Manipulate Different Image FileFormats/Manipulate Wmf Images"]
	path = "Net/Manipulate Different Image FileFormats/Manipulate Wmf Images"
	url = "https://gist.github.com/51147f04db3ad86597083c291250b890"
[submodule "Net/Merge"]
	path = "Net/Merge"
	url = "https://gist.github.com/c3b1f39eaf550446e244e071b29d5191"
[submodule "Net/RemoveBackground"]
	path = "Net/RemoveBackground"
	url = "https://gist.github.com/c28d7d7f7dff39444751b5724d5ba14a"
[submodule "Net/Resize"]
	path = "Net/Resize"
	url = "https://gist.github.com/86c29f2c35c7c19a0ae65cea371ab3e5"
[submodule "Net/SaveFileExtensionAware"]
	path = "Net/SaveFileExtensionAware"
	url = "https://gist.github.com/f4a2faa9c7d3a77f599173aee0927a3b"
[submodule "Net/Watermark"]
	path = "Net/Watermark"
	url = "https://gist.github.com/f63c201f51d5673401fc0d32a6e1c4b1"
[submodule "Java/Manipulate Different Image FileFormats/Manipulate Bmp Images"]
	path = "Java/Manipulate Different Image FileFormats/Manipulate Bmp Images"
	url = "https://gist.github.com/5f0a945174e6ac022f75e1d66dc565f5"
[submodule "Java/Manipulate Different Image FileFormats/Manipulate Png Images"]
	path = "Java/Manipulate Different Image FileFormats/Manipulate Png Images"
	url = "https://gist.github.com/2fb66b57ca3aa7e52527f8864ed6fc2d"
[submodule "Java/Manipulate Different Image FileFormats/Manipulate Svg Images"]
	path = "Java/Manipulate Different Image FileFormats/Manipulate Svg Images"
	url = "https://gist.github.com/8f3cb6e37dd2b28717779dd41a767735"
[submodule "Java/Manipulate Different Image FileFormats/Manipulate Webp Images"]
	path = "Java/Manipulate Different Image FileFormats/Manipulate Webp Images"
	url = "https://gist.github.com/dc955f6aaa5b79847e6ac7e4e63aaba5"
[submodule "Java/Manipulate Different Image FileFormats/Manipulate Wmf Images"]
	path = "Java/Manipulate Different Image FileFormats/Manipulate Wmf Images"
	url = "https://gist.github.com/bb4153abcd87e8ebfaf958e52caa24bf"
[submodule "Java/Manipulate Different Image FileFormats/Manipulate Tiff Images"]
	path = "Java/Manipulate Different Image FileFormats/Manipulate Tiff Images"
	url = "https://gist.github.com/a4d291863dc9ba53b888c52610950526"
